<button (click)="onPageByDiff(-1)" [disabled]="pageIndex < 2">Previous Page</button>
<ng-container *ngIf="askMaxPageIndex$() | async as maxPageIndex">
    <button (click)="onPageByDiff(1)" [disabled]="pageIndex >= maxPageIndex">
        Next Page
    </button>
</ng-container>
<div>
    <span>Name</span>
    <span># TV Shows</span>
    <span># Video Games</span>
    <span>Allies</span>
    <span>Enemies</span>
</div>
<ng-container *ngIf="chars$ | async as chars">
    <ng-container *ngFor="let i of resultsIndexes">
        <app-char-row [char]="chars[i]" (onMsg)="handleMsg($event)"></app-char-row>
    </ng-container>
</ng-container>
