.chars-header {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.chars-headerCell,
.chars-lastHeaderCell {
    border-right: 1px solid #0000005e;
    padding-left: 2px;
    text-align: center;
}
.chars-lastHeaderCell {
    border-right: none;
}

.chars-results {
    border-radius: 8px;
    border-top: 0;
    box-shadow: 0 1px 4px 0 #0000005e;
    display: flex;
    flex-direction: column;
    gap: 2px;
    height: 480px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 4px;
}

.chars-results :nth-child(odd) div {
    background-color: #f2f2f2;
}
.chars-results :nth-child(even) div {
    background-color: #fff;
}

.chars-results :nth-child(n) div:hover {
    background-color: #e5e5e5;
    cursor: pointer;
}

.chars-controls {
    padding-top: 4px;
    padding-left: 12px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.chars-resultsSelector {
    border: 1px solid #0000001f;
    border-radius: 24%;
    cursor: pointer;
}

.chars-btnPage {
    background-color: #fff;
    border: 1px solid #0000001f;
    border-radius: 40%;
    cursor: pointer;
}
.chars-btnPage:disabled {
    cursor: default;
}

.chars-pageIndex {
    border: 1px solid #0000001f;
    border-radius: 40%;
    padding-left: 6px;
    padding-right: 6px;
    text-align: center;
    cursor: default;
}
