<div class="app-root">
    <div class="app-header">
        <h1>DISNEY CHARACTERS</h1>
    </div>
    
    <div class="app-modals">
        <app-chars
            class="app-charsModal"
            [chars$]="(mode === 'search') ? searchChars$ : chars$"
            (msgSent)="handleMsg($event)"
        ></app-chars>
        
        <div class="app-charModal scrollbar">
            <ng-container *ngIf="selChar !== undefined">
                <app-char [char]="selChar"></app-char>
            </ng-container>
        </div>
    </div>
    
    <app-pie-chart></app-pie-chart>
    
    <div class="app-footer">
        Made by <a href="https://www.linkedin.com/in/georgios-sotiropoulos/">codicoscepticos</a> - 2023
        <span> | API: <a href="https://disneyapi.dev/">disneyapi.dev</a></span>
        <span> | Disney and Disney characters are trademarks of Walt Disney Company</span>
    </div>
</div>
