.char-row-root {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.char-row-cell {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;
}

.char-row-ally,
.char-row-enemy {
    border-bottom: 1px solid #33553355;
}
